.container {
    margin: 50px 0;
}

.card{
    margin: 0 2% !important; 
}

.infected {
    border-bottom: 10px solid #02e7c1aa;
}
.recovered {
    border-bottom: 10px solid #00b9098f;
}
.deaths {
    border-bottom: 10px solid #ff0000aa;
}

@media (max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}